.all-products{
	margin-top: 2em;
}
.cardStyle {
	/* min-height: 100px; */
	height: 30rem;
	/* max-height: 100%; */
	/* margin: 20px 20px;
	padding: 25px; */
}
.cardLinkStyle{
	text-decoration: none;
	margin: 20px 5px;
}
.cardImageStyle{
	height: 200px; 
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cardImage {
	max-width:100%;
	max-height:100%;
}
.cardPrice{
	font-size: large;
	font-weight: bolder;
}
.cardCategory{
	font-size:medium;
	font-weight: thin;
}
.title {
	overflow: hidden;
	white-space: nowrap;
}

.image {
	background-size: fill;
	height: fit-content;
}
#card-content {
	height:min-content;
}

#card-button {
	display:flex;
	align-items: center;
	justify-content: center;
}